.banner_container {
    background: var(--bg-color);
}

.banner_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.poster_carousel {
    width: 68%;
    display: flex;
    align-items: start;
    cursor: pointer;
}

.trailer_container {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 870px;
    height: 500px;
    position: relative;
}

.trailer_wrapper {
    min-width: 100%;
    height: 100%;
}

.close_trailer {
    /* background: #000; */
    position: absolute;
    top: 0px;
    right: -25px;
    width: 75px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

.close_button {
    box-sizing: border-box;
    color: var(--text-on-dark-bg);
    padding: 5px;
    border-radius: 50%;
    transform: scale(2);
    cursor: pointer;
}

.close_button:hover {
    background-color: #fffefe13;
}

.gradient_bg {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 49%,
            rgba(0, 0, 0, .7) 63%,
            rgba(0, 0, 0, .4) 75%,
            rgba(0, 0, 0, .2) 86%,
            rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
}

.poster_slide {
    display: flex;
    position: relative;
    padding-bottom: 55px;
}


.poster_slide:hover .banner_play_btn{
    color: var(--standout-color);
    border-color: var(--standout-color);
}

.poster_slide img {
    width: 100%;
}

div.swiper-button-prev,
div.swiper-button-next {
    padding: 1rem .6rem;
    border: 1px solid #fff;
    color: #fff;
    background: var(--arrow-background);
    border-radius: 5px;
}

div.swiper-button-prev {
    transform: translate(-10px, -60px);
}

div.swiper-button-next {
    transform: translate(10px, -60px);
}

div.swiper-button-prev:hover,
div.swiper-button-next:hover {
    color: var(--standout-color);
}

.poster_details {
    position: absolute;
    color: white;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.poster_deitals_shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.small_image {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 2;
    width: 150px;
    box-shadow: 0px 0px 10px 0px #000;
}

.small_image img {
    width: 100%;
}

.poster_movie_description_wrapper {
    z-index: 1;
    margin-left: 190px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.poster_movie_description h1 {
    font-size: 2rem;
    font-weight: 400;
}

.up_next {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.up_next_title {
    color: var(--standout-color);
    padding: 5px 0 15px 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.up_next_content {
    background: linear-gradient(to top, var(--bg-color), var(--second-bg-color));
}

.up_next_card {
    display: flex;
    align-items: center;
    padding: 10px;
}

.up_next_poster {
    min-width: 90px;
    height: 135px;
}

.up_next_card img {
    width: 100%;
    height: 100%;
}

.up_next_card_details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-left: 10px;
}

.up_next_play_btn,
.banner_play_btn {
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.banner_play_btn {
    border: 3px solid #fff;
    padding: 20px;
}

.play_icon {
    transform: scale(1.5);
}

.up_next_play_btn {
    border: 2px solid #fff;
    padding: 5px;
}

.up_next_btn_disabled {
    pointer-events: none;
    color: #474747;
    border-color: #474747;
}

.up_next_card_details h1 {
    color: var(--text-on-dark-bg);
    font-size: 1rem;
    font-weight: 400;
}

.up_next_card_date {
    font-size: .8rem;
    color: var(--secondary-text-color);
}

@media (max-width: 1280px) {

    .banner_wrapper {
        max-width: 90vw;
    }

    .small_image {
        width: 140px;
    }
}

@media (max-width: 1024px) {
    .up_next {
        display: none;
    }

    .poster_carousel {
        width: 100%;
    }

    .small_image {
        bottom: 15px;
        left: 15px;
        width: 150px;
    }

}

@media (max-width: 800px) {

    .banner_wrapper {
        max-width: 92vw;
    }

    .small_image {
        width: 120px;
    }

    .poster_movie_description_wrapper {
        margin-left: 160px;
    }

    .poster_movie_description h1 {
        font-size: 1.5rem;
    }

    .poster_movie_description span {
        font-size: .8rem;
    }
}

@media (max-width: 600px) {

    div.swiper-button-prev,
    div.swiper-button-next {
        display: none;
    }

    .small_image {
        width: 90px;
    }

    .banner_play_btn {
        padding: 6px;
    }

    .play_icon {
        transform: scale(1);
    }

    .poster_movie_description_wrapper {
        margin-left: 120px;
        gap: 5px;
    }

    .poster_movie_description h1 {
        font-size: 1rem;
    }

    .poster_movie_description span {
        font-size: .7rem;
    }
}