.banner_container {
    background: var(--bg-color);
}

.banner_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 10px 0;
}

.poster_carousel {
    width: 68%;
    display: flex;
    align-items: start;
}

.gradient_bg {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1) 49%,
            rgba(0, 0, 0, .7) 63%,
            rgba(0, 0, 0, .4) 75%,
            rgba(0, 0, 0, .2) 86%,
            rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
}

.poster_slide {
    display: flex;
    position: relative;
    padding-bottom: 55px;
}

.poster_slide img {
    width: 100%;
}

div.swiper-button-prev,
div.swiper-button-next {
    padding: 1rem .6rem;
    border: 1px solid #fff;
    color: #fff;
    background: var(--arrow-background);
    border-radius: 5px;
}

div.swiper-button-prev {
    transform: translate(-10px, -60px);
}

div.swiper-button-next {
    transform: translate(10px, -60px);
}

div.swiper-button-prev:hover,
div.swiper-button-next:hover {
    color: var(--standout-color);
}

.poster_details {
    position: absolute;
    color: white;
    bottom: 0px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: var(--bg-color);
}

.poster_deitals_shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.small_image {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 2;
    width: 150px;
    box-shadow: 0px 0px 10px 0px var(--bg-color);
}

.small_image img {
    width: 100%;
}

.poster_movie_description {
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 100%;
    margin-left: 190px;
}

.poster_movie_description h1 {
    font-size: 2rem;
}

.poster_movie_description span {
    font-size: 1rem;
}

.up_next {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.up_next_title {
    color: var(--standout-color);
    padding: 5px 0 15px 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.up_next_content {
    background: linear-gradient(to top, var(--bg-color), var(--secondary-background-color));
}

.up_next_card {
    display: flex;
    align-items: center;
    padding: 10px;
}

.border {
    border-bottom: solid 1px #000;
}

.up_next_poster {
    min-width: 90px;
    height: 135px;
}

.up_next_card img {
    width: 100%;
    height: 100%;
}

.up_next_card_details {
    color: var(---text-on-dark-bg);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.up_next_card_date {
    font-size: .8rem;
    color: var(--secondary-text-color);
}

@media (max-width: 1280px) {

    .banner_wrapper {
        max-width: 97vw;
    }

    .small_image {
        width: 140px;
    }
}

@media (max-width: 1024px) {
    .up_next {
        display: none;
    }

    .poster_carousel {
        width: 100%;
    }

    .small_image {
        bottom: 15px;
        left: 15px;
        width: 150px;
    }

}

@media (max-width: 800px) {
    .small_image {
        width: 120px;
    }

    .poster_movie_description {
        margin-left: 160px;
    }

    .poster_movie_description h1 {
        font-size: 1.5rem;
    }

    .poster_movie_description span {
        font-size: .8rem;
    }
}

@media (max-width: 600px) {

    div.swiper-button-prev,
    div.swiper-button-next {
        display: none;
    }

    .small_image {
        width: 90px;
    }

    .poster_movie_description {
        gap: 5px;
        margin-left: 120px;
    }

    .poster_movie_description h1 {
        font-size: 1.2rem;
    }

    .poster_movie_description span {
        font-size: .7rem;
    }
}