footer {
    padding: 20px;
    color: var(--secondary-text-color);
    font-weight: 300;
    text-align: center;
    font-size: .8rem;
    border-top: solid 1px var(--secondary-text-color);
}

footer a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}