.movie_card {
    width: 100%;
    color: var(--text-dark-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie_card_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.movie_card_image img {
    width: 100%;
    cursor: pointer;
    transition: .2s ease;
}

.movie_card_image img:hover {
    transform: scale(1.2);
    filter: blur(1.2px);
    transition: .3s ease;
}

.movie_title {
    margin-left: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    line-height: 20px;
}

.movie_title:hover {
    text-decoration: underline;
}

.movie_card_details {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.movie_card_rating {
    display: flex;
    align-items: center;
    flex: 1;
}

.movie_card_star {
    transform: scale(.8);
    color: var(--main-color);
    margin-bottom: 2px;
}

.movie_card_rating {
    color: var(--text-dark-bg2);
    font-size: 1.1rem;
}

/* .high_vote {
    color: limegreen;
}

.low_vote {
    color: red;
} */

.movie_info_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.movie_info_button:hover {
    background-color: var(--hover-bg);
}

.buttons {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_movie_button {
    flex: 1;
    background-color: var(--add-button-bg);
    color: var(--second-color);
    border: none;
    outline: none;
    padding: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s ease;
    border-radius: 3px;
}

.add_movie_button:hover {
    background-color: var(--hover-add-button-bg);
    transition: .2s ease;
}

.add_movie_button:active {
    background-color: var(--active-add-button-bg);
}

.add_movie_button div {
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 600;
}


.delete_movie {
    border: none;
    outline: none;
    background-color: var(--delete-button-bg);
    color: #ffffffd3;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease;
    padding: 4px;
}

.delete_movie:hover {
    background-color: var(--hover-delete-button-bg);
    color: #ffffff;
    transition: .2s ease;
}

.delete_movie:active {
    background-color: var(--active-delete-button-bg);
    color: #ffffff;
    transition: .2s ease;
}

.delete_movie span {
    display: flex;
    align-items: center;
}