.movie_slider_container {
    color: var(--standout-color);
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 25px;
    width: 1200px;
    position: relative;
    /* background: red; */
}


.movie_slider_wrapper {
    display: flex;
    gap: 18px;
    overflow: hidden;
}

.movie_slider_category {
    font-weight: 400;
}


.left_slider,
.right_slider {
    background: #12121273;
    border: solid 1px var(--main-text-color);
    position: absolute;
    display: flex;
    border-radius: 5px;
    padding: 20px 5px;
    bottom: 50%;
    cursor: pointer;
    font-size: 1.2rem;
}

.left_slider:hover,
.right_slider:hover {
    color: var(--standout-color);
}


.left_slider {
    left: -10px;
}

.right_slider {
    right: -10px;
}

.arrow_buttons_slider {
    color: var(--main-text-color);
}

.movie_card_container {
    background-color: var(--secondary-background-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1280px) {
    .movie_slider_container {
        width: 980px;
    }
    .movie_card_container {
        width: 148px;
    }
}

@media (max-width: 1024px) {

    .movie_slider_container {
        width: 95vw;
    }

    .arrow_buttons_slider {
        display: none;
    }

    .movie_slider_wrapper {
        padding-bottom: 20px;
        overflow: auto;
        gap: 10px;
    }

}

@media (max-width: 680px) {

    .movie_slider_wrapper {
        margin: 0 5px;
    }
}