.movie_slider_container {
    color: var(--main-color);
    max-width: 1200px;
    margin: 80px auto;
}

.movie_slider_wrapper .swiper-button-prev,
.movie_slider_wrapper .swiper-button-next {
    border: 1px solid #fff;
    color: #fff;
    background: var(--arrow-background);
    border-radius: 5px;
    padding: 3rem 1.8rem;
}

.movie_slider_wrapper .swiper-button-prev {
    transform: scale(.6) translate(-35px, -150px);
}

.movie_slider_wrapper .swiper-button-next {
    transform: scale(.6) translate(35px, -150px);
}

.movie_slider_wrapper .swiper-button-prev:hover,
.movie_slider_wrapper .swiper-button-next:hover {
    color: var(--main-color);
}



.movie_slider_category {
    margin-bottom: 20px;
    font-weight: 400;
}

.slider_movie{
    background-color: var(--bg-color2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .movie_slider_container {
        max-width: 90vw;
    }
}

@media (max-width: 680px) {
    .movie_slider_container {
        max-width: 95vw;
    }

    .movie_slider_wrapper .swiper-button-prev,
    .movie_slider_wrapper .swiper-button-next {
        display: none;
    }

    .movie_slider_container {
        margin: 60px auto;
    }
    
    .movie_slider_category {
        font-weight: 400;
        font-size: 1.6rem;
    }
}
