.watched_container {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.watched_wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 1rem;
    color: var(--text-on-dark-bg);
}

@media (max-width: 1200px) {
    .watched_wrapper {
        max-width: 980px;
    }
}

@media (max-width: 980px) {
    .watched_wrapper {
        max-width: 90vw;
    }
}

@media (max-width: 680px) {

    .watched_wrapper {
        max-width: 95vw;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}