.watchlist_container {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    color: #ffffff;
    text-align: center;
}

.watchlist_wrapper {
    display: flex;
    color: var(--text-on-dark-bg);
    gap: 20px;
    max-width: 1280px;
    flex-wrap: wrap;
    margin: auto;
}

.movie_card_container{
    background-color: var(--secondary-background-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.empty_list {
    border: solid 1px #b8b8b875;
    color: #b8b8b875;
    margin: auto;
    padding: 50px;
    font-size: 3rem;
    border-radius: 10px;
}

@media (max-width: 1280px) {
    .watchlist_wrapper {
        gap: 10px;
        max-width: 980px;
    }
}

@media (max-width: 980px) {
    .watchlist_wrapper {
        max-width: 90vw;
        justify-content: center;
    }

    .movie_card_container{
        width: 160px;
    }
}

@media (max-width: 680px) {
    .empty_list {
        padding: 20px;
        font-size: 1.5rem;
        border-radius: 5px;
    }

    .movie_card_container{
        width: 140px;
    }
}