.watchlist_container {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    color: #ffffff;
    text-align: center;
}

.watchlist_wrapper {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 1rem;
    color: var(--text-on-dark-bg);
}

.movie_card_container{
    background-color: var(--second-bg-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.empty_list {
    border: solid 1px #b8b8b875;
    color: #b8b8b875;
    margin: auto;
    padding: 50px;
    font-size: 3rem;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .watchlist_wrapper {
        max-width: 980px;
    }
}

@media (max-width: 980px) {
    .watchlist_wrapper {
        max-width: 90vw;
    }
}

@media (max-width: 680px) {

    .watchlist_wrapper {
        max-width: 95vw;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .empty_list {
        padding: 20px;
        font-size: 1.5rem;
        border-radius: 5px;
    }
}