.watched_container{
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header{
    color: #ffffff;
    text-align: center;
}

.watched_wrapper{
    display: flex;
    color: var(--main-text-color);
    gap: 20px;
    width: 1280px;
    flex-wrap: wrap;
    margin: auto;
}

@media (max-width: 1024px) {
    .watched_wrapper {
        gap: 10px;
    }
}