@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

:root {

    /* LIGHT MODE */
    /* --main-color: #F5C518;

    --bg-color: #ffffff;
    --bg-color2: #e6e6e6;
    --bg-color3: #d9d9d9;
    
    --hover-bg: #cccccc;
    --hover-bg2: #bfbfbf;
    --third-background-hover: #b2b2b2;

    --arrow-background: #ececec38;
    
    --text-dark-bg: #000000;
    --text-dark-bg2: #262626;
    --text-dark-bg3: #0d0d0d; */


    /* DARK MODE */
    --main-color: #F5C518;
    --second-color: #5799ef;

    --bg-color: #000000;
    --bg-color2: #121212;
    --bg-color3: #1f1f1f;

    --hover-bg: #252525;
    --hover-bg2: #313131;
    --hover-bg3: #595959;

    --transparent-bg: #000000c0;

    --add-button-bg: #313131;
    --hover-add-button-bg: #343940;
    --active-add-button-bg: #364458;

    --delete-button-bg: #313131;
    --hover-delete-button-bg: #583636;
    --active-delete-button-bg: #962929;

    --arrow-background: #12121273;

    --text-dark-bg: #fff;
    --text-dark-bg2: #bcbcbc;
    --text-dark-bg3: #7a7a7a;
    --text-dark-bg4: #636363;
}