@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

:root {

    /* LIGHT MODE */
    /* --standout-color: #F5C518;

    --bg-color: #ffffff;
    --second-bg-color: #e6e6e6;
    --third-bg-color: #d9d9d9;
    
    --background-hover: #cccccc;
    --secondary-background-hover: #bfbfbf;
    --third-background-hover: #b2b2b2;

    --arrow-background: #ececec38;
    
    --text-on-dark-bg: #000000;
    --secondary-text-color: #262626;
    --third-text-color: #0d0d0d; */


    /* DARK MODE */
    --standout-color: #F5C518;

    --bg-color: #000000;
    --second-bg-color: #121212;
    --third-bg-color: #262626;

    --background-hover: #333333;
    --secondary-background-hover: #4d4d4d;
    --third-background-hover: #595959;

    --arrow-background: #12121273;

    --text-on-dark-bg: #fff;
    --secondary-text-color: #c0bebe;
    --third-text-color: gray;
}